    <%= f.label :colors, "Color(s)", class: 'control-label' %>
      <small>
       <%= link_to colors_path, class: "" do %>
       <span class="glyphicon glyphicon-cog"></span> Brand Manager
       <% end %>
     </small>
     <%= f.select(:colors,options_from_collection_for_select(Color.all, :id, :name), {:include_blank=>false},  required:true,multiple: true,:class=> "form-control"  )%>