  

  <div class="container">
    <div class="row">

     <div class="col-md-4">
      <div class="jumbotron form_text">
        <h1>Edit your Item:   </h1>

      <h2 class="text-center"> <%= link_to @item.name, item_path(@item.id), 'data-no-turbolink'=>true %> </h2>

     




      </div>

    </div>


    <%= render 'form' %>

  </div>
</div>


