

  <div class="container">
    <div class="row">

     <div class="col-md-4">
      <div class="jumbotron form_text"> 
        <h1>Create a Digital Repository of your Clothes!  
          
        </h1>
        <p>Enter information about a clothing item in the form.</p>
      </div>
    </div>


    <%= render 'form' %>

  </div>
</div>