   <%= render 'layouts/nav' %>


  <div class ="container">
    <div class= "row">
      <div class= "col-md-12">
        <div class="page-header">
          <h1>Title of Item 
           <small>
             <a class="" href= "#"> <span class="glyphicon glyphicon-pencil" aria-hidden="true"> </span> </a>
             <a class="" href= "#"> <span class="glyphicon glyphicon-trash" aria-hidden="true"> </span> </a>
           </small>
         </h1>
       </div>
     </div>
   </div>


   <div class="row">

     <div class="col-md-4">
      <div class="thumbnail">
       <%= image_tag("red_1.jpg", :alt => "red_1.jpg") %>
       <div class="caption">
        <p> These are the shoes I bought from Paris. They are super shiny! I think they'll look great with my dark skinny jeans. Love them!</p>
        <p><a href="#" class="btn btn-info" role="button">Wore it! <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></a></p>
      </div>
    </div>         
  </div>


  <div class="col-md-8">
    <ul class="list-group">
      <li class="list-group-item"><span> Brand: </span> Marc Jacobs</li>
      <li class="list-group-item"><span> Fit: </span> Tight</li>
      <li class="list-group-item"><span>Store: </span> Macys </li>
      <li class="list-group-item"><span> Cost: </span> $100</li>
      <li class="list-group-item"><span> Notes: </span>These Shoes are hard to walk in!</li>
    </ul>
  </div>


</div>

</div>



<footer class="footer">


</footer> 



























